body {
  font-family: "Oswald", sans-serif;
  background-color: #D7E6F5;
}
img {
  width: 3000%;
}
* {
  margin: 0;
}
.box-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
  list-style-type: none;
  background-color: #fff;

}
.boxa {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/pexels-photo-160107.jpeg);
  background-size: cover;
  background-position: top;
  position: relative;
  flex: 0 0 100%;
  width: 45%;
}
.boxb {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(/img/study.jpeg);

  background-size: cover;
  background-position: top;
  position: relative;
}

.boxb,
.boxc {
  flex: 0 0 65%;
  width: 53%;
}

/* <<--------------------- HEADER ----------------------> >*/
.header {
    background-color: #fff;
}
.header {
  display: flex;

  /* flex-flow: row wrap; */
  font-weight: bold;
  text-align: right;
}


.header > * {
  padding: 10px;
  flex: 1 100%;
}

.header-row {
  display: flex;
  /* justify-content: center; */
  font-size: 1em;
}
.header-row span {
  color: #104ab6;
  border-bottom: 1px solid rgb(20, 26, 80);
}
nav ul {
  display: flex;
  /* width: 8%; */
  list-style: none;
}
nav ul li {
  padding: 1em;
}
.header-row span:hover {
  border-bottom: none;
}

.header__text-box {
  /* position: absolute;
    top:40%;
    left:50%; */
  display: flex;
  justify-content: center;
  transform: translate(-50%, -50%);
  text-align: center;
}
.heading-primary {
  color: #104ab6;
  text-transform: uppercase;

  backface-visibility: hidden;
  /* margin-bottom: 6rem; */
}
.heading-primary--main {
  display: block;
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 2rem;

}

/* <----Footer social icons -----> */
.footer-content  {

    margin-top:20px;
    justify-content: flex-start;
}
.social-icons {
  display: flex;
  justify-content: flex-end;
  list-style: none;
    margin-right: 80px;
}

.social-icons  > li {
  border-radius: 50%;
  text-align: center;
  padding: 1.1em;
  color: #2a5daf;
  cursor: pointer;
}
.list-header span {
  cursor: pointer;
}



/*  <-----------   ABOUT SECTION  --------->  */
.about-container{
    margin-top:70px;
}
.about {
  margin: 40px;
  width: 400px;
}
.about h1 {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.img-profile {
  display: flex;
  flex-direction: row;
  float: right;
  flex-wrap: wrap;
  align-items: flex-end;
}
.img-profile img {
  margin: 10px;
  border: 3px solid #000;
  box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.3);
  max-width: 18vw;
}

/*  <-----------   PROJECTS SECTION  --------->  */
.projects-title {
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    text-align: center
}
.main-area {
  margin: 35px;
  margin-top:60px;
  border-top: 8px solid #0846b9;
  border-left:8px solid #0846b9;
  border-right: 8px solid #0846b9;
  border-bottom: 8px solid #0846b9;
}
.centered {
    margin-top: 40px;
}
.cards {

    margin:10px;
}
.card {
  background: lightgray;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  grid-gap: 10px;
  color: rgb(173, 46, 46);
  font-weight: 100;
  margin-bottom: 2em;
  font-size: 22px;
}

.card a {
  color: black;
}

.card-content {
  padding: 1.4em;
}

.card-content h2 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.card-content p {
  font-size: 80%;
}

/*  <-----------   FOOTER SECTION  --------->  */

.footer-content {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #0846b9;
  width: 100%;
  color:#104ab6;
}
.copyright {
    display:flex;
    justify-content: flex-start;

}
.name {
    padding:40px;
}
.number {
    display:flex;
    justify-content: center;
}

/*  <-----------   MEDIA QUERIES SECTION  --------->  */

@media screen and (min-width: 440px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .card {
    flex: 0 1 calc(50% - 1em);
  }
}
img {
  width: 300px;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}
@media screen and (max-width: 800px) {
  .content {
    /* background-color:green; */
    flex-wrap: wrap-reverse;
  }
  .footer-content {
    background-color: orange;
    justify-content: center;
  }
}

@media screen and (min-width: 60em) {
  .cards {
    /* background-color: green; */
  }

  .card {
    flex: 0 1 calc(25% - 1em);
  }
}
